<html>
    <head>
        <meta charset= "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link
            rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        >
        <link rel="stylesheet" href="/css/style.css">
        <title>Tech Blog Home Page</title>
        <script src="/javascript/main.js" defer></script>
        <script src="/javascript/logout.js" defer></script>
    </head>
    <body class="height-100">
        <section id="header-section" class="col-12 bg-secondary pb-4">
            <section id="nav-section-container" class="d-flex col-12 justify-content-between">
                <section id="nav-section">
                    <nav class="navbar navbar-expand col-3 justify-content-between">
                        <a href="/" id="home-link">Home</a>
                        <a href="/dashboard" id="dashboard-link">Dashboard</a>
                        <a id="login-logout-link">{{{loginOrLogout}}}</a>
                    </nav>
                </section>
                <section id="welcome-bar">
                    <p>{{{welcomeLoggedInUser}}}</p>
                </section>
            </section>
            <section id="title-section" class="m-2 ml-4 bg-info rounded-3 col-2">
                <h1>{{{title}}}</h1>
            </section>
        </section>
        <main>
            {{{body}}}
        </main>
    </body>
</html>